.todos-container {
    display: flex; 
    flex-wrap: wrap;
    width: 90; 
    background-color: rgb(107, 107, 181);
    border-radius: 10px;
}

.todo {
    display: flex;
    flex-direction: column;
    padding: 10px; 
    border-radius: 10px; 
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: 10px; 
    width: 25vw;
    flex-wrap: wrap; 
    background-color: white; 
}

.todo a {
    color: black;
    text-decoration: none;
}