{% extends "base.html" %}
{% load static %} {% block head %}
    <link rel="stylesheet" href="{% static 'css/todos/detail.css' %}" />
    <title>Todo Details</title>
{% endblock %}
{% block content %}
<section>
    <heading>
        <h1>{{todo.title}}</h1>
        <hr>
        <p>{{todo.due}}</p>
        <div class="description">
            <p>{{todo.description}}</p>
        </div>
    </heading>

    <div class="todo-actions">
        <a href="{% url 'todo-update' todo.id %}" class="btn-warn">Edit</a>
        <a href="{% url 'todo-delete' todo.id %}" class="btn-danger">Delete</a>
    </div>
</section>
<section>
    <h3>Flags</h3>
    <div class="subsection">
        {% if flags.count %}
            {% for flag in flags %}
            <div class="flag-container">
                <p style="color: {{flag.color}};">{{ flag.name }}</p>
                <form action="{% url 'remove-flag' todo.id flag.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-submit">Remove Flag</button>
                </form>
            </div>
            {% endfor %}
        {% else %}
            <p style="font-size: 15px" >Add some flags!</p>
        {% endif %}
    </div>

    <h3>Available Flags</h3>
    <div class="subsection">
        {% if flags_todo_doesnt_have.count %}
            {% for flag in flags_todo_doesnt_have %}
                <div class="flag-container">
                    <p style="color: {{flag.color}};">{{ flag.name }}</p>
                    <form action="{% url 'associate-flag' todo.id flag.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn-submit">Add Flag</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p style="font-size: 15px">No flags to select</p>
        {% endif %}
    </div>
</section>
{% endblock %}
