{% extends "base.html" %}
{% load static %}
{% block head %}
<title>To-do's</title>
<link rel="stylesheet" href="{% static 'css/todos/index.css' %}"/>
{% endblock %}
{% block content %}
    <h1>All To-do's</h1>
    <div class="filter_forms">
        <form method="post" action="{% url 'filter-todos' %}">
        {% csrf_token %}
            <div class="show-completed">
                <label>Show completed tasks</label>
                <input type="checkbox" name="show-completed" checked/>
                <label>Select Flags</label>
                <select name="select-flag">
                    <option value="All">All</option>
                    {% for flag in flags %}
                        <option value="{{flag.name}}">{{flag.name}}</option>
                    {% endfor %}
                </select>
                <button type="submit">Filter To-do's</button>
            </div>
        </form>
    </div>

    <div class="todos-container">
        {% for todo in todos %}
           <div class="todo">
            <a href="{% url 'todo-detail' todo.id %}">
                <h3 class="todo-title">{{ todo.title }}</h3>
                <p>{{todo.description}}</p>
                <p>{{todo.due}}
                {% if todo.completed %} 
                    <div class='checkmark'>✅</div>
                {% endif %}
            </a>
           </div>
        {% endfor %}
    </div>
{% endblock %}