{% extends "base.html" %}
{% load static %}
{% block head %}
<title>Todos</title>
<link rel="stylesheet" href="{% static 'css/todos/index.css' %}"/>
{% endblock %}
{% block content %}
    <h1>All Todos</h1>
    <div class="todos-container">
        {% for todo in todos %}
           <div class="todo">
            <a href="{% url 'todo-detail' todo.id %}">
                <h3 class="todo-title">{{ todo.title }}</h3>
                <p>{{todo.description}}</p>
            </a>
           </div>
        {% endfor %}
    </div>
{% endblock %}